 /* 引入字体文件 申明一种字体 */

@font-face {
  font-family: 'iconfont';
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./fonts/iconfont.woff2') format('woff2'),
      url('./fonts/iconfont.woff') format('woff'),
      url('./fonts/iconfont.ttf') format('truetype'),
      url('./fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top{
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #6C6C6C;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.site-nav{

 }
.site-nav-bd-l  li{
	float: left;
}
.site-nav-region{
	color: #3C3C3C;
}
.site-nav-arrow{
    display: inline-block;
    width: 12px;
    height: 7px;
    line-height: 6px;
    overflow: hidden;
    margin: 14px 8px 0 8px;
}
.site-nav-icon{
	display: inline-block;
	font-size: 1px;
    margin-right: 20px;
}
.site-nav-sign-login{
    color: #f22e00 !important;
    margin: 0 10px;
}
.site-nav-sign-register{
	 margin-right: 20px;
}
.site-nav-bd-r {
	
}
.site-nav-bd-r li{
	 float: right;
}
.site-navigation{
	margin:0 5px;
}
.site-navigation-logo{
	font-size: 10px;
	color: #f40;
}
.site-vertical-curve{
	margin:0 7px; 
}
.site-pentacle{
	margin:0 4px 0px 10px;
	color: #9c9c9c;
	font-size: 14px;
}
.site-shopping-cart{
	font-size: 15px;
	color: #f40;
 	margin:0 5px 0 7px;
}
.site-navigation-logo,
.site-navigation-service,
.site-navigation-goods-category{	
	margin-left: 7px;
}
.top-banner{
	background-color: #f40d4d;
    height: 70px;
}
.top-main{
	background-color: #FFF;
    padding-top: 24px;
    height: 97px;
}
.top-logo{
	width: 190px;
    height: 80px;
    float: left;
    margin-top: 8px;
}
.top-logo-img{
	display: block;
    margin-left: 22px;
    padding-top: 58px;
    width: 142px;
    height: 0;
    overflow: hidden;
    background: url(../images/top-logo-img.png) no-repeat;
    box-sizing: border-box;
}
.search-wrap{
	float: left;
	width: 630px;
	height: 87px;
	margin-left: 65px;
}
.ks-switchable-nav{
	position: relative;
	top: 2px;
	left: 18px;
}
.search-wrap .ks-switchable-nav li{
	float: left;
	margin-right: 10px;
	color: #F40;
    text-align: center;
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
}

.ks-switchable-baby{
	display: inline-block;
	color: #FFF;
    font-weight: 700;
    width: 30px;
    height: 22px;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.search{
	float: left;
	position: relative;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
}
.search-ico{
	display: inline-block;
	z-index: 2;
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 14px;
    color: #666;
}
.search-text{
	float: left;
    padding: 6px 0;
    text-indent: 40px;
    height: 24px;
    line-height: 24px;
    width: 472px;
    border: none;
    background: #FFF;
    color: #666;
}
.search-camera{
	float: left;
	display: inline-block;
	color: #666;
	font-size: 25px;
	margin-left: 20px;
	padding-right: 20px;
}
.search-btn{
	float: left;
    width: 74px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #ff5000;
    cursor: pointer;
    border: none;
    border: 2px solid #ff5000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.top-qr{
	float: left;
	position: relative;
	top: -5px;
	margin-left: 110px;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 76px;
    height: 90px;
    color: #666;
    border: 1px solid #eee;
    background-color: #FFF;
}
.top-qr-title{
    line-height: 25px;
	color: #ff5000;
	font-size: 12px;
}
.top-qr-close{
	position: absolute;
	width: 14px;
	height: 14px;
	line-height: 12px;
	left: -15px;
	top: 0px;
	color: #ddd;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.search-hots-fline  {
	 margin-left:3px;
}
.search-hots-fline li {
	 float: left;
	 margin-right: 5px;
	 line-height: 30px;
}
.search-hots-fline li .now-hot{
	 color: #ff5000;
	 
}
.search-hots-fline li a{
	 color: #3C3C3C;
	 cursor: pointer;
}
.tbh-nav{
	height: 30px;
	margin-top: 5px;
    line-height: 30px;
    background: #ff8200;
}
.tbh-nav h2{
	float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #ff5000;
}
.tbh-nav ul{
	float: left;
    font-size: 16px;
    color: #fff;
}
.tbh-nav li {
	float: left;
    margin: 0 3px;
    text-align: center;
    padding: 0 4px;
}
.tbh-nav li a{
	color: #fff;
	font-size: 14px;
}
.main{
	position: relative;
	top: -1px;
    height: 522px;;	
}
.main-left{
	float: left;
	width: 900px;
	height: 522px;
	box-sizing: border-box;
}
.main-left-sidebar{
	float: left;
	width: 190px;
	height: 522px;
    border: 1px solid #ff5000;
    border-top: none;
    background-color:#fff;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.main-left-sidebar li{
	display: inline-block;
	line-height: 33px;
	width: 100%;
	height: 32px;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
	box-sizing: border-box;
}
.main-left-sidebar li:hover{
    background-color: #ffe4dc;
    color: #FF5000;
}
.main-left-sidebar-min{
	position: absolute;
	display: inline-block;
	right: 12px;
	top: 0px;
}
.slideshow{
	float: left;
	width: 520px;
	height: 522px;
	padding: 15px 0 0 10px;
	box-sizing: border-box;
}
.slideshow-top-img{
	width: 520px;
	height: 280px;
	margin-bottom: 15px;
}
.slideshow-bottom-img{
	width: 520px;
	box-sizing: border-box;
}
.tmall-hd{
	font-size: 12px;
	color: #666;
    border-bottom: 3px solid #ff1648;
    position: relative;
    background-color: #f1f1f1;
}
.tmall-logo{
	display: inline-block;
	position: relative;
	top: 3px;
	width: 136px;
	height: 19px;
	background: url(../images/t-m.png) no-repeat;
}

.tmall-now{
	color: red;
}

.progress-bar{
	float: right;
	margin-top: 5px;
}
.inner{
	line-height: 19px;
}
.tmall-bd{
	background: #fff;
	height: 180px;
	padding:8px 0 0 8px;
}
.tmall-bd-box{
	overflow: hidden;
}
.tmall-bd-box li{
	float: left;
	margin-right: 3px;
}
.tmall-bd-box .last li{
	margin-right: 0px;
}
.recommend {
	float: left;
	width: 160px;
	height: 507px;
	margin-left: 20px;
	margin-top: 15px;
}


.hot-sale{
	margin-top: 10px;
}
.hot-sale h5{
	font-size: 12px;
    font-weight: 400;
    background: #f1f1f1;
    color: #a1a1a1;
    line-height: 28px;
}
.main-right{
	float: right;
	margin-top:15px;
	width:290px;
	height: 507px;
	background: #fff;
	box-sizing: border-box;
}
.main-right-user{
	width: 290px;
	height: 145px;
    text-align: center;
    background:url(../images/main-right-background-image.png);
    background-size:100% 100%;
}
.user-img{
	display: inline-block;
	margin-top: 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:url(../images/main-right-user.jpg);
}
.greeting{
    line-height: 17px;
    height: 17px;
    margin-top: 3px;
}
.property a{
	 color: #ff5000;
}  
.gold{
	display: inline-block;
	border-radius: 9px;
    background-clip: padding-box;
    background: #ffe4db;
    padding: 0 10px 0 20px;
    position: relative;
    border: none;
}
.tbh-icon-gold,
.tbh-icon-membe{
	position: absolute;
    top: 0;
    display: block;
    left: 0;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -572.5px no-repeat;
}
.membe{
	display: inline-block;
	 border-radius: 9px;
    background-clip: padding-box;
    background: #ffe4db;
    padding: 0 10px 0 20px;
    position: relative;
    border: none;
}
.tbh-icon-membe{
    background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -528px; no-repeat;
}
.user-btn{
	display: inline-block;
	height: 40px;
    overflow: hidden;
    margin-top: 5px;
}
.user-login,
.user-register,
.user-open-shop{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	background-color: #ff6f06 ;
	border-radius: 4px;
	font-weight: 700;
}
.user-login{
	width: 92px;
}
.user-register{
	width:75px;
}
.user-open-shop{
	width:75px;
}
.inform{
	position: relative;
	text-align: center;
	top:-2px;
    color: #f40;
    display: block;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
}
.triangle{
	position: absolute;
	display: inline-block;
    right: 52px;
    top: 9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}
.information{
	width: 290px;
	height: 102px;
	overflow: hidden;
}
.information-hd{
	background: #fff;
	height: 32px;
	position: relative;
    padding:0 8px;
}
.information-hd li{
	float:left;
	width: 33px;
	height: 22px;
	margin:10px 10px 0 10px;

}
.information-hd li a{
	color: #3C3C3C;
}
.underline{
	position: absolute;
	left: 18px;
	top:30px;
	width: 33px;
	height: 2px;
	background-color:#ff6f06;
}
.information-bd{
 	padding: 12px 10px 0px 10px;
 	box-sizing: border-box;
}
.information-bd-t,
.information-bd-b{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	color: #ff5000;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.information-bd-t{
	color: #ff5000;
}
.information-bd-b{
	color: #3C3C3C;
}
.lifeservice{
	overflow: hidden;
	height: 155px;
	width: 290px;
	border: 1px solid #f4f4f4;
	border-right: none;
	border-left: none;
	box-sizing: border-box;
	background: #fff;
	text-align: center;
}
.lifeservice li{
	float: left;
	width: 71px;
	height: 77px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.main-right .lifeservice ul .li-r-border{
	border-right:none;
}
.main-right .lifeservice ul .li-l-border{
	border-left:none;
}
.tbh-icon-prepaid-refill,
.tbh-icon-travel,
.tbh-icon-car-insurance,
.tbh-icon-game,
.tbh-icon-lottery,
.tbh-icon-movie,
.tbh-icon-hotel,
.tbh-icon-money{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
    background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
}
.tbh-icon-refill{
	background-position: 0 0;
}
.tbh-icon-travel{
	background-position: 0 -87px;
}
.tbh-icon-car-insurance{
	background-position: 0 -44px;
}
.tbh-icon-game{
	background-position: 0 -132px;
}
.tbh-icon-lottery{
	background-position: 0 -176px;
}
.tbh-icon-movie{
	background-position: 0 -220px;
}
.tbh-icon-hotel{
	background-position: 0 -264px;
}
.tbh-icon-money{
	background-position: 0 -308px;
}
.lifeservice p{
	color: #333;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height: 24px;
}
.a-li-app{
	width: 290px;
	height: 77px;
	background-color: green; 
}
.app-hd{
	font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.app-hd-title{
	display: inline-block;
	margin-left: 14px;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	font-weight: 700;
}
.app-hd-more{
	display: inline-block;
	margin-left: 170px;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.app-bd{
	padding-left: 23px;
    position: relative;
    height: 44px;
}
.app-bd li{
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
/**-*************************************************************************/
.recommend-good{
	margin-top: 10px;
	height: 658px;
	width: 100%;
	
}
.high-quality-l{
	float: left;
	height: 658px;
	width: 590px;
	background-color: #fff;
	padding: 20px 0px 0 20px;
	box-sizing: border-box;
}
.high-quality-hd{
	height: 24px;
	width: 100%;
	margin-bottom: 20px;
}
.mlogo{
	float: left;
	width: 74px;
	height: 24px;
    margin-right: 5px;
}
.high-quality-qr{
	display: inline-block;
	position: relative;
    float: left;
    width: 26px;
    text-align: center;
    height: 24px;
}
.high-quality-qr-img{
	font-size: 20px;
    margin: 0;
    color: #ccc;
    position: relative;
    top: 6px;
}
.subtitle{
	display: inline-block;
	line-height: 32px;
    height: 24px;
    color: #999;
    font-weight: 400;
}
.goods-list{
	overflow: hidden;
}

.goods-list li{
	float: left;
	
}
.goods-list li a{
	display: inline-block;
	width: 180px;
	height: 271px;
	overflow: hidden;
    margin: 10px 4px 17px 0;	
}
.a-all{
	width: 100%;
    height: 180px;
    display: block;
}
.img-wrapper{
	overflow: hidden;
	background: #4f4f4f;
}
.goods-list-info{
    overflow: hidden;
    padding: 0px 4px 0 6px;
}
.goods-list a h4 {
    margin-top: 5px;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    font-weight: normal;
}
.goods-list a p {
    line-height: 24px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    height: 24px;
}
.goods-list .goods-list-extra{
	line-height: 22px;
    height: 22px;
    margin-top: 12px;
    color: #35b1ff;
    font-size: 14px;
    overflow: hidden;
}
.smiling{
	margin-right: 4px;
	font-size: 15px;
}



/*******************************************/
.high-quality-l{
	float: left;
	height: 658px;
	width: 590px;
	background-color: #fff;
	padding: 20px 0px 0 20px;
	box-sizing: border-box;
}
.high-quality-hd{
	height: 24px;
	width: 100%;
	margin-bottom: 20px;
}
.mlogo{
	float: left;
	width: 74px;
	height: 24px;
    margin-right: 5px;
}
.high-quality-qr{
	display: inline-block;
	position: relative;
    float: left;
    width: 26px;
    text-align: center;
    height: 24px;
}
.high-quality-qr-img{
	font-size: 20px;
    margin: 0;
    color: #ccc;
    position: relative;
    top: 6px;
}
.subtitle{
	display: inline-block;
	line-height: 32px;
    height: 24px;
    color: #999;
    font-weight: 400;
}
.goods-list{
	overflow: hidden;
}

.goods-list li{
	float: left;
	
}
.goods-list li a{
	display: inline-block;
	width: 180px;
	height: 271px;
	overflow: hidden;
    margin: 10px 4px 17px 0;	
}
.a-all{
	width: 100%;
    height: 180px;
    display: block;
}
.img-wrapper{
	overflow: hidden;
	background: #4f4f4f;
}
.goods-list-info{
    overflow: hidden;
    padding: 0px 4px 0 6px;
}
.goods-list a h4 {
    margin-top: 5px;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    font-weight: normal;
}
.goods-list a p {
    line-height: 24px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    height: 24px;
}
.goods-list .goods-list-extra{
	line-height: 22px;
    height: 22px;
    margin-top: 12px;
    color: #35b1ff;
    font-size: 14px;
    overflow: hidden;
}
.smiling{
	margin-right: 4px;
	font-size: 15px;
}




.love-shopping-r{
	float: right;
	height: 658px;
	width: 590px;
	background-color: #fff;
	padding: 20px 0px 0 20px;
	box-sizing: border-box;
}
.love-shopping-hd{
	height: 24px;
	width: 100%;
	margin-bottom: 20px;
}
.alogo{
	float: left;
	width: 74px;
	height: 24px;
    margin-right: 5px;
}
.love-shopping-more{
	display: inline-block;
	position: relative;
	 margin-right: 15px;
    float: right;
    width: 50px;
    text-align: center;
    height: 24px;
    color: #999;
}
.love-shopping-more-img{
	font-size: 20px;
    margin-left: 5px;
    color: #ccc;
    position: relative;
    top: 5px;
}
.love-shopping-list{
	overflow: hidden;
}

.love-shopping-list li{
	float: left;
}
.love-shopping-list li a{
	display: inline-block;
	width: 180px;
	height: 271px;
	margin: 8px 4px 17px 0;
	overflow: hidden;	
}
.a-all{
	width: 100%;
    height: 180px;
    display: block;
}
.img-wrapper{
	overflow: hidden;
	background: #4f4f4f;
}
.love-shopping-list-info{
	position: relative;
    margin-top: 11px;
    padding: 0 10px;
    line-height: 22px;
    height: 44px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    box-sizing: border-box;
}
.quotation-mark-l{
	color: rgb(153, 153, 153);
	font-size: 12px;
    margin-top: -4px;
    margin-right: 4px; 
}
.quotation-mark-r{
	color: rgb(153, 153, 153);
	font-size: 12px;
    margin-top: -4px;
    margin-left: : 4px;
}

.love-shopping-list .love-shopping-list-extra{
	margin-top: 14px;
	width: 170px;
	height: 22px;
	padding: 0 10px;
	box-sizing: border-box;
}
.pic-wrapper{
	float: left;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
}
.love-shopping-user{
	margin-left: 30px;
    line-height: 25px;
    font-size: 12px;
    color: #999;
}